.guide-all
  height:100%;
  width:100%;
  .guide-center
    height 100%
    display flex
    align-items center
    justify-content center
    .guideInfo
      height: calc(100% - 20px)
      padding-top:20px
      width: 100%
      overflow-x  hidden
.guide
  display flex
  justify-content space-between
